*{
  margin: 0 auto;
  padding: 0;
}

#contenedor_carga{
  background-color: rgba(250, 240, 245,0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}
#carga{
  border: 15px solid #ccc;
  border-top-color: #eb4f4f;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top : 0;
  left : 0;
  right : 0;
  bottom : 0;
  margin: auto;
  -webkit-animation : girar 1.5s linear infinite;
  -o-animation: girar 1.5s linear infinite;
  animation: girar 1.5s linear infinite;
}
@keyframes girar{   from{   transform:rotate(0deg); }to{  transform:rotate(360deg); }   }

body{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#body-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#reloj{
  height: 512px;
  width: 512px;
  background-size: 500px;
  background-position-x: 4px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.max-width{
  width: 512px;
  height: 512px;
  padding-top: 205px ;
  padding-bottom: 225px ;
  padding-left: 130px ;
  padding-right: 290px ;  /*430-padding-left*/

  box-sizing: border-box;
  background-image: url("../img/chronometer.png");
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  margin-left: 91px;
  display: inline-block;
  width: 60px;
  height: 34px;
  }
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #eb4f4f;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #f0f321;
}
input:focus + .slider {
  box-shadow: 0 0 1px #f0f321;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
  /* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
  text-align: center;
}
#counter{   margin-left: 2px;   }

select{
  font-size: xx-large;
  background-color:#bf65b7;
  border-radius: 50%;
}
select:hover{
  outline: 0;
  cursor: pointer;
}
select:focus{
  outline: 0;
}
#cmb-grp{
  margin-top: 7%;
  margin-left: 6px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 31px;
}

#btn-grp{
  margin-top: 0px;
  margin-left: 8px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
}
button{
  padding: 10px;
  border:none;
  font-family: 'Segoe UI';
  font-size: 1.1em;
  transition: all .5s;
  cursor: pointer;
  border-radius: 50%;
  display: block;
  height: 50px;
  width: 50px;
  text-align: center;
}
button:focus {
  outline:0;
}
button:hover{
  background-color: #a1c0d1;
  box-shadow: 2px 2px 5px black;
}
.bg-green{
  background-color: #b2d1a1;
}
.bg-green:focus{
  background-color: #606f5a;
}
.bg-yellow{
  background-color: #d1cba1;
}
.bg-yellow:focus{
  background-color: #858168;
}
.bg-red{
  background-color: #d1a1a1;
}
.bg-red:focus{
  background-color: #876a6a;
}